.mint{
  background-image: url("https://cyclone.xyz/images/luanch_bg.png");
  backdrop-filter: brightness(0%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.img-display-before {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.img-display-after {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}   
.image-upload-input {
  display: none;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

a:active {
  text-decoration: none;
}

.coin{
  display: flex;
  align-items: center;
  background-color: #33DCD5;
  gap: 10px;
  padding: 10px 30px;
  width: 100px;
}

.coin:hover{
  background-color: #24928E;
  cursor: pointer;
  transition: 0.2s;
}

.coinname{
  color:#0F0604; 
  font-size: 20px; 
  font-weight: 800;
}

.coin:hover > .coinname{
  color: #ffffff;
  transition: 0.2s;
}
.line{
  border-right: 2px solid #24928E;
}

.links{
  display: flex;
  gap: 12px;
}

.langlist{
  display: none;
}

